<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="./styles/style.css" />
  <link rel="stylesheet" href="./styles/events.css">
</head>

<body>
  <div id="app">
    <header class="header" :class="{ 'header-activo': scrolled }">
      <img
        src="https://cdn.discordapp.com/attachments/985294289091321861/989664889347932220/LOGO_LETRAS_PROJECTO_FINAL.png"
        alt="">

      <nav class="navbar oculto">
        <div class="nav-elemento" @click="toggleNavItem('.nav-motos')">
          BIKES
          <div class="nav-motos oculto">
            <span class="boton-cerrar-nav">
              <i class="material-symbols-rounded" @click="cerrarNavbar($event)">close</i>
            </span>
            <div class="nav-selection">
              <a href="./bikes-harley.html?type=HARLEY">HARLEY</a>
              <a href="./bikes-ducati.html?type=DUCATI">DUCATI</a>
            </div>
          </div>
        </div>


        <div class="nav-elemento" @click="toggleNavItem('.nav-hombre')">
          MAN
          <div class="nav-hombre oculto">
            <span class="boton-cerrar-nav">
              <i class="material-symbols-rounded" @click="cerrarNavbar($event)">close</i>
            </span>
            <div class="nav-selection">
              <a href="./products.html?gender=MALE">All products</a>
              <a href="./products.html?gender=MALE&category=Jacket">Jackets</a>
              <a href="./products.html?gender=MALE&category=Helmet">Helmets</a>
              <a href="./products.html?gender=MALE&category=Gloves">Gloves</a>
            </div>
          </div>
        </div>


        <div class="nav-elemento" @click="toggleNavItem('.nav-mujer')">
          WOMAN
          <div class="nav-mujer oculto">
            <span class="boton-cerrar-nav">
              <i class="material-symbols-rounded" @click="cerrarNavbar($event)">close</i>
            </span>
            <div class="nav-selection">
              <a href="./products.html?gender=FEMALE">All products</a>
              <a href="./products.html?gender=FEMALE&category=Jacket">Jackets</a>
              <a href="./products.html?gender=FEMALE&category=Helmet">Helmets</a>
              <a href="./products.html?gender=FEMALE&category=Gloves">Gloves</a>
            </div>
          </div>
        </div>


        <div class="nav-elemento" @click="toggleNavItem('.nav-experiencia')">
          EVENTS
          <div class="nav-experiencia oculto">
            <span class="boton-cerrar-nav">
              <i class="material-symbols-rounded" @click="cerrarNavbar($event)">close</i>
            </span>
            <div class="nav-selection">
              <a href="./events.html">Meet Ups</a>
              <a href="./events.html">Test Ride</a>
            </div>
          </div>
        </div>
      </nav>

      <div>
        <span class="material-symbols-rounded nav-menu-btn" @click="toggleCart()">shopping_cart
          <i>{{productosGeneral.length}}</i></span>
        <span class="material-symbols-rounded nav-menu-btn" @click="toggleNavbar()">menu</span>
      </div>

      <div class="carrito oculto">
        <div v-for="producto in arrayDeMotos" class="carrito-box">
          <img :src="producto.images[0]" alt="product image">
          <div>
            <p>{{producto.model}}</p>
            <div>
              <span>Amount: {{producto.cantidad}}</span>
              <span>Subtotal: {{subtotal(producto.price, producto.cantidad)}}</span>
            </div>
          </div>
        </div>

        <div v-for="producto in arrayDeProductos" class="carrito-box">
          <img :src="producto.urlImg[0]" alt="product image">
          <div>
            <p>{{producto.description}}</p>
            <div>
              <span>Amount: {{producto.cantidad}}</span>
              <span>Subtotal: {{subtotal(producto.price, producto.cantidad)}}</span>
            </div>
          </div>
        </div>

        <div class="totalYPago">
          <span>Total: ${{total}}</span>
          <button>Go to payment</button>
        </div>
      </div>
    </header>

    <div class="videoPrincipal">

    </div>

    <main class="">
      <div class="eventos">

        <div class="carta">
          <img class="imgCarta"
            src="https://images.unsplash.com/photo-1558980395-be8a5fcb4251?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80">
          <div class="cartaTexto">
            <h3>Organize your travel</h3>
            <p>Organize your travel with the best team especialazed and experts we can offer you about the travels and
              bikes</p>
          </div>
        </div>
        <div>
          <button class="cardButton">See more</button>
        </div>
        <div class="carta">
          <img class="imgCarta"
            src="https://images.unsplash.com/photo-1558981420-87aa9dad1c89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
          <div class="cartaTexto">
            <h3>Meeting point</h3>
            <p>Know more people with the same hobbies</p>
          </div>
        </div>
        <div>
          <button class="cardButton">See more</button>
        </div>
        <div class="carta">
          <img class="imgCarta"
            src="https://images.unsplash.com/photo-1558979159-2b18a4070a87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80">
          <div class="cartaTexto">
            <h3>Own the road. Rent the motorcycle.</h3>
            <p>Rent a motorcycle from Harley-Davidson™ Authorized Rentals or EagleRider Rentals and Tours for a great
              riding experience. Vacations, meetings, business trips. There is always a reason to rent a Harley.</p>
          </div>
        </div>

      </div>
      <div>


        <div>

        </div>

        <img class="fotoPaisaje" src="" alt="">
      </div>


      <div>
        <div class="carta">
          <img class="imgCarta"
            src="https://images.unsplash.com/photo-1558980664-2506fca6bfc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
        </div>
        <div class="cartaTexto">
          <h3>PARTS & ACCESSORIES</h3>
          <p>As authorized Harley-Davidson® dealers, we have a variety of premium products to enhance your look and your
            bike's look. We have a unique selection of riding gear and motorclothes. You may also visit our parts and
            accessories department for your bike's customization needs.</p>
        </div>
      </div>
    </main>
    <section>
      <div>
        <div class="cardEvent ">
          <div class="cardTitle">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

          </div>
          <div class="imgCard1">
          </div>
        </div>
        <div class="cardEvent ">
          <div class="cardTitle">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

          </div>
          <div class="imgCard2">
          </div>
        </div>
        <div class="cardEvent">
          <div class="cardTitle">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

          </div>
          <div class="imgCard3">
          </div>
        </div>
      </div>

    </section>
    <footer>
      <div class="contenedorSuscripcionGeneral">
        <div class="contenedorSuscripcion">
          <div class="contenedorTexto">
            <h3 class="tituloSuscribe">
              Subscribe to the Moto Rider newsletter
            </h3>
          </div>
          <div class="contenedorParrafo">
            <p class="parrafoSuscribcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
              ullam tempore obcaecati odio maxime, atque sint laborum possimus
              quisquam. Necessitatibus
            </p>
          </div>
          <div class="contenedorGeneralBoton">
            <input class="inputFooter" type="email" name="email" id="email" placeholder="YOUR EMAIL ADDRESS" />
            <button type="submit" class="botonSuscripcion">
              SUBSCRIBE NOW
            </button>
          </div>
        </div>
      </div>
      <div class="contenedorTamañoEscritorio">
        <div class="contenedorLogoFooter">
          <div class="contenedorImgLogo iconos-wrapper">
            <img class="ImgLogo" src="./assets/LOGO_LETRAS_PROJECTO_FINAL.png" alt="logo" />
          </div>
          <div class="contenedorRedesSocialesFooter">
            <i class="fa-brands fa-instagram iconos pe-2"></i>
            <i class="fa-brands fa-facebook-f iconos pe-2"></i>
            <i class="fa-brands fa-twitter iconos pe-2"></i>
            <i class="fa-brands fa-pinterest-p iconos"></i>
          </div>
        </div>
        <div class="contenedorContenidoFooter">
          <div class="contenedorTextoPlanoFooter">
            <h4 class="TextoPlanoFooter">ABOUT US</h4>
            <h4 class="TextoPlanoFooter">SHIPPING PAYMENT</h4>
            <h4 class="TextoPlanoFooter">WARRANTY</h4>
            <h4 class="TextoPlanoFooter">NEWS</h4>
          </div>
          <div class="contenedorTextoPlanoParrafo">
            <p class="textoPlanoFooter">
              Copyright © 2022 Moto Rider - A Sole Shareholder Company - A
              Company
            </p>
            <p class="textoPlanoFooter">
              subject to the Management and Coordination activities of All
              rights
            </p>
            <p class="textoPlanoFooter">reserved. VAT 05113865928</p>
            <p class="textoPlanoFooter">Moto Rider</p>
          </div>
        </div>
      </div>
    </footer>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://kit.fontawesome.com/2544a6d2ae.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="./scripts/index.js"></script>
</body>

</html>