<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Moto Rider | Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
  <link rel="stylesheet" href="./styles/style.css" />
  <link rel="stylesheet" href="./styles/index.css" />
</head>

<body>
  <div id="app">
    <header class="header" :class="{ 'header-activo': scrolled }">
      <img
        src="https://cdn.discordapp.com/attachments/985294289091321861/989664889347932220/LOGO_LETRAS_PROJECTO_FINAL.png"
        alt="">

      <nav class="navbar oculto">
        <div class="nav-elemento" >
          <span @click="toggleNavItem('.nav-motos')">BIKES</span>
          <div class="nav-motos oculto">
            <span class="boton-cerrar-nav">
              <i class="material-symbols-rounded" @click="cerrarNavbar('.nav-motos')">close</i>
            </span>
            <div class="nav-selection">
              <a href="./bikes-harley.html?type=HARLEY">HARLEY</a>
              <a href="./bikes-ducati.html?type=DUCATI">DUCATI</a>
            </div>
          </div>
        </div>


        <div class="nav-elemento" >
          <span @click="toggleNavItem('.nav-hombre')">MAN</span>
          <div class="nav-hombre oculto">
            <span class="boton-cerrar-nav">
              <i class="material-symbols-rounded" @click="cerrarNavbar('.nav-hombre')">close</i>
            </span>
            <div class="nav-selection">
              <a href="./products.html?gender=MALE">All products</a>
              <a href="./products.html?gender=MALE&category=Jacket">Jackets</a>
              <a href="./products.html?gender=MALE&category=Helmet">Helmets</a>
              <a href="./products.html?gender=MALE&category=Gloves">Gloves</a>
            </div>
          </div>
        </div>


        <div class="nav-elemento">
          <span @click="toggleNavItem('.nav-mujer')">WOMAN</span>
          <div class="nav-mujer oculto">
            <span class="boton-cerrar-nav">
              <i class="material-symbols-rounded" @click="cerrarNavbar('.nav-mujer')">close</i>
            </span>
            <div class="nav-selection">
              <a href="./products.html?gender=FEMALE">All products</a>
              <a href="./products.html?gender=FEMALE&category=Jacket">Jackets</a>
              <a href="./products.html?gender=FEMALE&category=Helmet">Helmets</a>
              <a href="./products.html?gender=FEMALE&category=Gloves">Gloves</a>
            </div>
          </div>
        </div>


        <div class="nav-elemento">
          <span @click="toggleNavItem('.nav-experiencia')">EVENTS</span>
          <div class="nav-experiencia oculto">
            <span class="boton-cerrar-nav">
              <i class="material-symbols-rounded" @click="cerrarNavbar('.nav-experiencia')">close</i>
            </span>
            <div class="nav-selection">
              <a href="./events.html">Meet Ups</a>
              <a href="./events.html">Test Ride</a>
            </div>
          </div>
        </div>


        <div class="nav-elemento">
          <span @click="toggleNavItem('.nav-contact')">CONTACT</span>
          <div class="nav-contact oculto">
            <span class="boton-cerrar-nav">
              <i class="material-symbols-rounded" @click="cerrarNavbar('.nav-contact')">close</i>
            </span>
            <div class="nav-selection">
              <a href="./contact.html">Contact us</a>
              <a href="./contact.html">Contact info</a>
            </div>
          </div>
        </div>
      </nav>

      <div>
        <span class="material-symbols-rounded nav-menu-btn" @click="toggleCart()">shopping_cart
          <i>{{productosGeneral}}</i></span>
        <span class="material-symbols-rounded nav-menu-btn" @click="toggleNavbar()">menu</span>
      </div>

      <div class="carrito oculto">
        <div v-for="producto in arrayDeMotos" class="carrito-box">
          <img :src="producto.images[0]" alt="product image">
          <div>
            <p>{{producto.model}}</p>
            <div>
              <span>Amount: {{producto.cantidad}}</span>
              <span>Subtotal: {{subtotal(producto.price, producto.cantidad)}}</span>
            </div>
          </div>
          <button class="material-symbols-rounded" @click="borrarCarrito(producto)">delete_forever</button>
        </div>

        <div v-for="producto in arrayDeProductos" class="carrito-box">
          <img :src="producto.urlImg[0]" alt="product image">
          <div>
            <p>{{producto.description}}</p>
            <div>
              <span>Amount: {{producto.cantidad}}</span>
              <span>Subtotal: {{subtotal(producto.price, producto.cantidad)}}</span>
            </div>
          </div>
          <button class="material-symbols-rounded" @click="borrarCarrito(producto)">delete_forever</button>
        </div>

        <div class="totalYPago">
          <span>Total: ${{total}}</span>
          <button>Go to payment</button>
        </div>
      </div>
    </header>


    <div class="imagen-principal">
      <div class="glitch-logo"></div>
    </div>


    <main class="">
      <div class="" id="cardsDestacadas">
        <div class="container">
          <div class="cartaProductoDestacado" id="cartaProductoDestacado1">
            <div class="imgTemp imgTemp1" data-aos="fade-right" data-aos-offset="300" data-aos-duration="500"
              data-aos-easing="linear"></div>
            <div class="cartaParrafo" data-aos="fade-left" data-aos-offset="300" data-aos-duration="580"
              data-aos-easing="linear">
              <h6 class="">New model</h6>
              <p class="">New model of Harley motor bike</p>
            </div>
          </div>
          <div class="neon" data-aos="fade-down" data-aos-easing="ease-in-sine" data-aos-duration="500"
            data-aos-offset="500">
            <p>M</p>
            <p>O</p>
            <p>T</p>
            <p>O</p>
            <p>R</p>
          </div>
        </div>
        <div class="container">
          <div class="neon" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="500"
            data-aos-offset="100">
            <p>R</p>
            <p>I</p>
            <p>D</p>
            <p>E</p>
            <p>R</p>
          </div>
          <div class="cartaProductoDestacado" id="cartaProductoDestacado2">
            <div class="imgTemp imgTemp2" data-aos="fade-left" data-aos-offset="300" data-aos-duration="500"
              data-aos-easing="linear"></div>
            <div class="cartaParrafo" data-aos="fade-right" data-aos-offset="300" data-aos-duration="580"
              data-aos-easing="linear">
              <h6 class="">New model</h6>
              <p class="">New model of Harley motor bike</p>
            </div>
          </div>
          <div class="cartaProductoDestacado" id="cartaProductoDestacado3">
            <div class="imgTemp imgTemp2" data-aos="fade-right" data-aos-offset="300" data-aos-duration="500"
              data-aos-easing="linear"></div>
            <div class="cartaParrafo" data-aos="fade-left" data-aos-offset="300" data-aos-duration="580"
              data-aos-easing="linear">
              <h6 class="">New model</h6>
              <p class="">New model of Harley motor bike</p>
            </div>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="grid-card span-1 c-5"></div>
        <div class="grid-card span-1 c-1"></div>
        <div class="grid-card span-3 c-5"></div>
        <div class="grid-card span-3 c-1"></div>
        <div class="grid-card span-2 c-2"></div>
      </div>

      <iframe class="video" width="1280" height="720" src="https://www.youtube.com/embed/XiAqmlIEFi0"
        title="THE RED WOODS | Ducati Panigale V4s (feat. MOTORBIKEMEDIA)" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

      <section>
        <a class="imgMoto1"><span></span></a>
        <a class="imgMoto2"><span></span></a>
      </section>
    </main>

    <footer>
      <div class="contenedorSuscripcionGeneral">
        <div class="contenedorSuscripcion">
          <div class="contenedorTexto">
            <h3 class="tituloSuscribe">
              Subscribe to the Moto Rider newsletter
            </h3>
          </div>
          <div class="contenedorParrafo">
            <p class="parrafoSuscribcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
              ullam tempore obcaecati odio maxime, atque sint laborum possimus
              quisquam. Necessitatibus
            </p>
          </div>
          <div class="contenedorGeneralBoton">
            <input class="inputFooter" type="email" name="email" id="email" placeholder="YOUR EMAIL ADDRESS" />
            <button type="submit" class="botonSuscripcion">
              SUBSCRIBE NOW
            </button>
          </div>
        </div>
      </div>
      <div class="contenedorTamañoEscritorio">
        <div class="contenedorLogoFooter">
          <div class="contenedorImgLogo iconos-wrapper">
            <img class="ImgLogo" src="./assets/LOGO_LETRAS_PROJECTO_FINAL.png" alt="logo" />
          </div>
          <div class="contenedorRedesSocialesFooter">
            <i class="fa-brands fa-instagram iconos pe-2"></i>
            <i class="fa-brands fa-facebook-f iconos pe-2"></i>
            <i class="fa-brands fa-twitter iconos pe-2"></i>
            <i class="fa-brands fa-pinterest-p iconos"></i>
          </div>
        </div>

        <div class="contenedorContenidoFooter">
          <div class="contenedorTextoPlanoFooter">
            <h4 class="TextoPlanoFooter">ABOUT US</h4>
            <h4 class="TextoPlanoFooter">SHIPPING PAYMENT</h4>
            <h4 class="TextoPlanoFooter">WARRANTY</h4>
            <h4 class="TextoPlanoFooter">NEWS</h4>
          </div>
          <div class="contenedorTextoPlanoParrafo">
            <p class="textoPlanoFooter">
              Copyright © 2022 Moto Rider - A Sole Shareholder Company - A
              Company
            </p>
            <p class="textoPlanoFooter">
              subject to the Management and Coordination activities of All
              rights
            </p>
            <p class="textoPlanoFooter">reserved. VAT 05113865928</p>
            <p class="textoPlanoFooter">Moto Rider</p>
          </div>
        </div>
      </div>
    </footer>
  </div>


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://kit.fontawesome.com/2544a6d2ae.js" crossorigin="anonymous"></script>
  <script src="./scripts/index.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>