<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/logIn.css">
</head>


<body>
    <div id="app">
        <div class="bike-loader">
            <div id="loop" class="center"></div>
                <div id="bike-wrapper" class="center">
                <div id="bike" class="centerBike"></div>
            </div>
        </div>
        <div class="logInContainer" id="container">
            <div class="form-container sign-up-container">
                <form @submit.prevent="register()">
                    <h1>Create Account</h1>

                    <span>or use your email for registration</span>
                    <input type="text" placeholder="Name" v-model="firstName" />
                    <input type="text" placeholder="Last Name" v-model="lastName"/>
                    <input type="email" placeholder="Email" v-model="email" />
                    <input type="password" placeholder="Password" v-model="password" />
                    <input type="submit" class="form-btn">Sign Up</input>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form @submit.prevent="logIn()">
                    <h1>Sign in</h1>

                    <span>or use your account</span>
                    <input type="email" placeholder="Email" v-model="email"/>
                    <input type="password" placeholder="Password" v-model="password"/>
                    <a href="#">Forgot your password?</a>
                    <input type="submit" class="form-btn">Sign In</input>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn" @click="switchLogIn()">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="ghost" id="signUp" @click="switchSignUp()">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./scripts/logIn.js"></script>
</body>

</html>

