
:root{
    --color-primary: #171717;

    --paleta-rojo: #E63946;
    --paleta-blanco: #F1FAEE;
    --paleta-azul-claro: #A8DADC;
    --paleta-azul-medio: #457B9D;
    --paleta-azul-oscuro: #1D3557;

    /* Neon 2 */
    --neon-rojo: #f61d30;
    --neon-blanco: #f3fad4;
    --neon-azul-claro: #36edf0;
    --neon-azul-medio: #23a1ef;
    --neon-azul-oscuro: #04459f;

    /* text-shadow */
    --textShadow-blanco: #252620;
    --textShadow-blanco2: #686b58;
}


div .material-symbols-outlined:nth-child(2) {
    color: red;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-title img {
    width: 80%;
}

.imagen-principal{
    height: 100vh;
    background-color: lightseagreen;
}
.imagen-principal img {
    width: 100%;
    min-height: 100vh;
}

.cartaCatalogo{
    color:var(--color-primary);
    height: 42rem;
    width: 100%;
    text-decoration:none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(252%2c 240%2c 230%2c 1)'%3e%3c/rect%3e%3cpath d='M280 37.33C241.67 37.33 183.75 89.06 183.75 140C183.75 190.07 241.49 239.35 280 239.35C309.88 239.35 320.53 189.79 320.53 140C320.53 88.78 310.06 37.33 280 37.33' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M532.68 0C553.91 6.18 538.48 32.73 560 40.73C622.14 63.84 639.27 75.25 700 62.22C734.16 54.89 716.95 14.59 749.78 0C786.95 -16.52 794.89 0 840 0C910 0 910 0 980 0C1050 0 1050 0 1120 0C1190 0 1190 0 1260 0C1330 0 1330 0 1400 0C1428.38 0 1453.94 -19.72 1456.76 0C1463.94 50.28 1441.87 71.35 1420 140C1413.49 160.44 1405.41 157.56 1400 178.18C1387.05 227.56 1390.35 228.91 1383.28 280C1373.61 349.82 1361.85 351.22 1366.52 420C1370.21 474.32 1381.8 526.21 1400 526.21C1418.54 526.21 1428.62 475.02 1440 420C1454.08 351.92 1422.66 336.85 1450.91 280C1472.66 236.23 1511.56 218.75 1540 218.75C1556.11 218.75 1540 249.38 1540 280C1540 350 1540 350 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1330 560 1330 560 1260 560C1226.52 560 1223.25 570.66 1193.04 560C1153.25 545.96 1151.67 510.59 1120 510.59C1098.68 510.59 1112.03 551.19 1087.06 560C1042.03 575.89 1033.53 560 980 560C910 560 910 560 840 560C770 560 770 560 700 560C630 560 630 560 560 560C503.03 560 485.16 584.07 446.05 560C415.16 540.99 434.57 473.85 420 473.85C405.07 473.85 419.46 540.06 387.06 560C349.46 583.14 333.53 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 350 0 350 0 280C0 210 0 210 0 140C0 70 -35 35 0 0C35 -35 70 0 140 0C210 0 210 0 280 0C350 0 350 0 420 0C476.34 0 483.91 -14.19 532.68 0' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 247.06C546.32 247.06 530 265.01 530 280C530 292.54 545.9 302.11 560 302.11C571.67 302.11 581.54 292.1 581.54 280C581.54 264.57 572.09 247.06 560 247.06' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 237.07C1091.94 237.07 1059.25 254.69 1059.25 280C1059.25 311.94 1093.25 351.56 1120 351.56C1143.26 351.56 1159.27 313.42 1159.27 280C1159.27 256.18 1141.95 237.07 1120 237.07' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 328.46C254.96 328.46 251.67 377.01 251.67 420C251.67 440.02 261.34 454.49 280 454.49C319.58 454.49 368.15 446.9 368.15 420C368.15 383.89 313.2 328.46 280 328.46' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 415.48C975.55 415.48 970.67 417.96 970.67 420C970.67 421.97 975.48 423.5 980 423.5C983.19 423.5 986.09 421.93 986.09 420C986.09 417.92 983.26 415.48 980 415.48' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 72.26C78.79 86.48 52.24 75.24 0 48.28C-17.76 39.11 -17.95 6.19 0 0C52.05 -17.95 70 0 140 0C173.94 0 207.88 -14.68 207.88 0C207.88 21.45 182.73 62.34 140 72.26' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M366.58 140C360.73 68.69 305.06 41.86 321.03 0C331.77 -28.14 370.51 0 420 0C455 0 464.96 -18.67 490 0C534.96 33.51 513.66 66.9 560 104.36C600.24 136.9 611.89 121.37 663.16 140C681.89 146.8 680.99 149.3 700 155.22C769.41 176.84 769.26 178.29 840 195.08C909.26 211.52 926.04 191.76 980 221.67C1002.65 234.22 993.21 251.86 993.21 280C993.21 292.31 990.54 295.16 980 302.58C913.94 349.12 910.05 345.33 840 387.92C813.5 404.04 798.44 393.82 786.9 420C760.52 479.86 794.09 511.81 764.17 560C750.64 581.81 732.09 560 700 560C630 560 630 560 560 560C523.37 560 503.89 583.74 486.74 560C453.33 513.74 480.97 486.75 458.89 420C447.6 385.87 443.03 386.3 420 358.24C385.58 316.3 355.61 327.44 344 280C328.9 218.32 372.21 208.69 366.58 140' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 20C830.77 12.84 827.56 6.54 827.56 0C827.56 -3.46 833.78 0 840 0C910 0 910 0 980 0C1050 0 1050 0 1120 0C1166.66 0 1187.79 -27.43 1213.33 0C1252.96 42.57 1228.85 71.94 1250.34 140C1252.18 145.83 1256.92 142.44 1260 147.78C1297.27 212.44 1313.33 209.58 1331.04 280C1347.57 345.69 1347.12 355.26 1328.48 420C1311.6 478.65 1302.79 526.78 1260 526.78C1202.93 526.78 1143.76 483.81 1128.75 420C1114.74 360.42 1204.42 344.91 1201.95 280C1200.05 230.11 1168.15 225.31 1120 190.4C1071.59 155.31 1062.84 167.85 1008.82 140C992.84 131.76 994.72 128.68 980 118.22C910.31 68.68 906.99 71.95 840 20' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 216C24.62 216 37.82 251.35 80 280C107.82 298.9 117.7 287.1 140 311.11C182.7 357.1 172.2 367.59 210 420C242.2 464.65 243.23 464.23 280 505.22C306.02 534.23 335.59 544 335.59 560C335.59 571.39 307.79 560 280 560C210 560 210 560 140 560C70 560 42.17 587.83 0 560C-27.83 541.63 -12.04 509.38 0 467.6C8.13 439.38 40.34 445.75 40.34 420C40.34 385.89 11.07 386.31 0 347.88C-9.1 316.31 0 313.94 0 280C0 248 -15.38 216 0 216' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 178.43C517.81 178.43 467.5 233.79 467.5 280C467.5 318.65 516.54 348.16 560 348.16C595.99 348.16 626.41 317.3 626.41 280C626.41 232.43 597.27 178.43 560 178.43' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1485.45 420C1485.45 369.45 1525.51 317.56 1540 317.56C1552.79 317.56 1540 368.78 1540 420C1540 465.65 1552.6 511.3 1540 511.3C1525.32 511.3 1485.45 466.32 1485.45 420' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M907.41 560C907.41 546.6 947.56 511 980 511C1003.07 511 1018.43 544.85 1018.43 560C1018.43 569.35 999.21 560 980 560C943.7 560 907.41 571.1 907.41 560' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M412.63 140C398.78 69.69 378.48 55.15 381.38 0C382.16 -14.85 400.69 0 420 0C433.66 0 444.28 -11.41 447.32 0C462.94 58.59 466.56 73.76 457.33 140C452.9 171.76 432.15 196 420 196C409.8 196 418.09 167.69 412.63 140' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 40.44C951.99 40.44 926.47 11.25 926.47 0C926.47 -8.97 953.24 0 980 0C1015 0 1050 -9.38 1050 0C1050 10.84 1013.75 40.44 980 40.44' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1111.76 140C1111.76 132.24 1115.59 121.33 1120 121.33C1124.54 121.33 1129.66 132.5 1129.66 140C1129.66 143.7 1124.78 143.73 1120 143.73C1115.83 143.73 1111.76 143.44 1111.76 140' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M671.28 280C671.28 253.87 675.93 235.23 700 231.3C760.29 221.46 772.16 235.3 840 252.46C868.41 259.65 892.5 264.85 892.5 280C892.5 296.12 868.07 300.8 840 315C771.82 349.49 750.74 387.92 700 377.39C666.38 370.42 671.28 326.92 671.28 280' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1244.63 280C1250.67 261.89 1251.62 245 1260 245C1268.71 245 1275.46 260.71 1278.81 280C1290.67 348.21 1297.14 353.11 1290.43 420C1287.74 446.84 1279.02 467.46 1260 467.46C1234.64 467.46 1204.28 451.8 1201.67 420C1196.59 358.07 1221.5 349.39 1244.63 280' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M99.66 420C99.66 395.88 121.71 375.93 140 375.93C156.04 375.93 168.33 396.71 168.33 420C168.33 452.75 156.56 488 140 488C122.23 488 99.66 451.92 99.66 420' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M523.7 420C527.63 400 539.58 394.21 560 394.21C604.4 394.21 636.53 386.17 653.33 420C677.7 469.06 671.77 515.88 642.35 560C625.1 585.88 601.17 560 560 560C543.72 560 530.86 573.2 527.44 560C512.71 503.2 511.35 482.9 523.7 420' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1530.91 420C1530.91 411.58 1537.59 402.93 1540 402.93C1542.13 402.93 1540 411.47 1540 420C1540 427.61 1542.1 435.22 1540 435.22C1537.55 435.22 1530.91 427.72 1530.91 420' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 537.6C14.74 537.6 43.08 554.07 43.08 560C43.08 565.27 14.17 567.37 0 560C-7.37 556.17 -6.8 537.6 0 537.6' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M266 560C266 558.96 273.51 555.94 280 555.94C282.57 555.94 284.12 558.81 284.12 560C284.12 560.84 282.06 560 280 560C273 560 266 560.99 266 560' stroke='rgba(255%2c 227%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cartaCatalogo:nth-child(even) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 101%2c 67%2c 1)'%3e%3c/rect%3e%3cpath d='M31.11 0C86.14 13.76 87.38 35 140 35C172.45 35 168.17 8.27 201.25 0C238.17 -9.23 240.63 0 280 0C350 0 350 0 420 0C490 0 490 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C1050 0 1050 0 1120 0C1190 0 1190 0 1260 0C1330 0 1330 0 1400 0C1470 0 1505 -35 1540 0C1575 35 1540 70 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 474.05 1564.09 528.1 1540 528.1C1503.95 528.1 1479.66 474.27 1419.72 420C1409.66 410.89 1410.7 401.33 1400 401.33C1386.55 401.33 1383.56 408.1 1371.43 420C1313.56 476.78 1327.57 508.29 1260 538.7C1201.85 564.87 1186.79 525.14 1120 533.15C1097.94 535.79 1104.11 555.82 1082.31 560C1034.11 569.24 1031.15 560 980 560C910 560 910 560 840 560C770 560 770 560 700 560C630 560 630 560 560 560C509.87 560 459.73 581.17 459.73 560C459.73 529.64 500.49 492.65 560 456.94C617.13 422.65 693 438.97 693 420C693 400.94 623.09 408.44 560 380.88C486.59 348.81 493.25 332.41 420 300.74C376.59 281.97 373.66 288.23 326.67 280C303.66 275.97 303.14 276.22 280 276.22C273.44 276.22 267.43 273.78 267.27 280C265.54 345.67 270.15 350.55 276.22 420C276.51 423.35 278.35 422.65 280 425.6C317.57 492.65 354.67 514.77 354.67 560C354.67 581.97 317.34 560 280 560C217.78 560 216.32 564.67 155.56 560C146.32 559.29 147.52 549.23 140 549.23C133.37 549.23 135.38 559.38 127.27 560C65.38 564.76 30.3 593.33 0 560C-33.33 523.33 0 490 0 420C0 368 -19.22 356.57 0 316C13.94 286.57 66.32 303.27 66.32 280C66.32 250.27 19.21 250.56 0 210C-13.95 180.56 0 175 0 140C0 70 -12.73 57.27 0 0C2.83 -12.73 16.14 -3.74 31.11 0' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 130.67C694.1 130.82 692.22 134.6 692.22 140C692.22 150.93 697.04 151.4 700 163.33C714.39 221.4 692.38 239.32 726.92 280C762.38 321.76 783.63 328.2 840 328.2C894.61 328.2 946 318.88 948.89 280C953 224.78 904.15 206.21 854 140C849.7 134.32 847.22 136.66 840 136.22C770.22 131.99 767.99 128.93 700 130.67' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 125.26C1394.94 125.26 1387.27 134.4 1387.27 140C1387.27 143.86 1393.98 144.18 1400 144.18C1403.14 144.18 1405.6 142.91 1405.6 140C1405.6 133.45 1404.1 125.26 1400 125.26' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 262.13C1088.51 262.13 1050 272.25 1050 280C1050 287.64 1087.21 292.92 1120 292.92C1127.97 292.92 1131.51 286.91 1131.51 280C1131.51 271.51 1129.27 262.13 1120 262.13' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M150.98 140C150.98 90.27 212.02 82.28 280 35.56C313.87 12.28 315.56 9.93 354.67 0C385.56 -7.85 387.34 0 420 0C460.84 0 498.98 -24.17 501.67 0C506.76 45.83 472.4 73.99 435.56 140C431.56 147.17 427.29 142.19 420 146.36C349.51 186.65 348.48 230.54 280 228.92C213.97 227.36 150.98 186.95 150.98 140' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 88.92C776.57 58.42 726.55 24.88 726.55 0C726.55 -19.58 783.28 0 840 0C910 0 910 0 980 0C1028.38 0 1040.58 -20.53 1076.76 0C1110.58 19.2 1093.91 79.46 1120 79.46C1150.53 79.46 1147.86 23.92 1190 0C1217.86 -15.81 1225 0 1260 0C1310.69 0 1361.38 -22.63 1361.38 0C1361.38 33.91 1312.53 58.48 1260 113.08C1245.18 128.48 1226.67 128.71 1226.67 140C1226.67 149.62 1242.67 149.25 1260 154.89C1329.33 177.46 1334.51 200.94 1400 196.42C1442.31 193.5 1467.98 178.74 1475.6 140C1487.29 80.53 1419.68 41.17 1438.62 0C1451.88 -28.83 1518.71 -29.4 1540 0C1569.4 40.6 1540 70 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 451.9 1554.22 483.8 1540 483.8C1518.73 483.8 1504.09 452.35 1469.01 420C1434.09 387.79 1437.44 354.67 1400 354.67C1352.94 354.67 1347 383.76 1300 420C1277 437.73 1286.27 453.09 1260 462.61C1196.27 485.7 1184.17 459.7 1120 485.21C1061.67 508.4 1070.05 530.59 1015 560C1000.05 567.98 997.5 560 980 560C910 560 910 560 840 560C770 560 770 560 700 560C630 560 630 560 560 560C533.51 560 507.03 571.18 507.03 560C507.03 543.96 526.09 516.43 560 505.56C622.58 485.5 638.2 521.52 700 498.14C751.27 478.74 740.98 456.32 786.15 420C810.98 400.04 811.38 399.59 840 385.57C908.3 352.13 907.42 335.14 980 325.08C1047.42 315.74 1058.86 360.59 1120 346.77C1158.58 338.05 1179.45 315.7 1179.45 280C1179.45 236.15 1159.46 222.88 1120 187.66C1081.04 152.88 1071.66 163.06 1022.61 140C1001.66 130.15 1002.24 128.07 980 121.85C910.94 102.53 903.29 119.35 840 88.92' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M485.33 280C485.33 234.45 522.39 175 560 175C597.9 175 636.36 234.6 636.36 280C636.36 311.8 598.05 329.41 560 329.41C522.54 329.41 485.33 311.65 485.33 280' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 366C51.12 330.85 87.11 308.03 140 323.75C177.92 335.03 181.62 376.13 181.62 420C181.62 444 161.61 440.63 140 459.49C81.4 510.63 82.81 515.77 21.21 560C12.81 566.03 1.4 569.21 0 560C-9.21 499.21 0 490 0 420C0 393 -18.88 378.98 0 366' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M219.61 140C219.61 116.72 249.2 91.11 280 91.11C312.87 91.11 346.96 116.8 346.96 140C346.96 162.06 312.99 181.62 280 181.62C249.31 181.62 219.61 161.97 219.61 140' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 41.62C808.73 32.38 786.9 11.64 786.9 0C786.9 -9.17 813.45 0 840 0C910 0 910 0 980 0C1002.64 0 1025.29 -10.93 1025.29 0C1025.29 17.59 1011.58 49.95 980 57.04C918.93 70.76 905.28 60.9 840 41.62' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1227.4 280C1227.4 253 1234.21 234.04 1260 229.36C1320.51 218.37 1336.62 266.45 1400 248.66C1476.62 227.16 1500.15 141.85 1540 150.77C1570.15 157.52 1540 215.38 1540 280C1540 350 1540 350 1540 420C1540 429.75 1544.34 439.49 1540 439.49C1533.5 439.49 1528.94 429.98 1518.31 420C1458.94 364.24 1466.99 322.26 1400 308C1337.84 294.76 1313.86 373.74 1260 365C1227.56 359.74 1227.4 320.82 1227.4 280' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 416C7.16 416 17.5 416.21 17.5 420C17.5 424.57 5.51 432.73 0 432.73C-3.24 432.73 0 426.37 0 420C0 418 -1.59 416 0 416' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M896 420C931.31 393.37 935.99 388.22 980 384.41C1047.99 378.53 1050.84 388.5 1120 400.62C1152.34 406.29 1183 410.8 1183 420C1183 429.12 1150.44 425.6 1120 437.26C1048.94 464.49 1045.73 460.49 980 497.78C937.55 521.86 946.16 541.1 903.64 560C876.16 572.21 871.82 560 840 560C796.25 560 752.5 575.35 752.5 560C752.5 540.35 800.14 528.89 840 490C871.89 458.89 861.31 446.17 896 420' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M554.32 560C554.32 558.28 556.14 554.17 560 554.17C582.31 554.17 606.67 558.54 606.67 560C606.67 561.45 583.34 560 560 560C557.16 560 554.32 561.2 554.32 560' stroke='rgba(228%2c 81%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1018'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.cartaCatalogo:hover{
    color:black;
    text-decoration:none;
}

.imgCartaCatalogo{
    width: 100%;
}

.imgCartaCatalogo img {
    width: 100%;
    filter: drop-shadow(0px 20px 18px #181818);
}

.textoCartaCatalogo {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.5rem;
}

.cartaCatalogo:nth-child(even) .textoCartaCatalogo {
    color: #fbefe5;
}
.cartaCatalogo:nth-child(even) .brand-title img {
    filter: invert(1);
}
.cartaCatalogo:nth-child(even) div .material-symbols-outlined:nth-child(2) {
    color: #fcf0e6;
}

.cartaPrecio {
    font-size: 1.8rem;
    font-weight: 400;
}

.add-btn {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background: #f3f300;
    border: 1px solid #adad02;
    display: flex;
    align-items: center;
}

.add-btn i{
    font-size: 1rem;
}

#filtro{
    height: 3rem;
    width: 100%;
    position: sticky;
    top: 5rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 3;
    border-bottom: 3px solid;
}

#filtro i.material-symbols-outlined {
    color: black;
}

#filtro span {
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.box-de-filtro {
    position: absolute;
    top: 3rem;
    background: red;
    height: calc(60vh - 10rem);
    width: 100%;
    left: 0;
}

.fondoCartaCatalogoUnFocus{
    display: none;
}

#catalogo{
    min-height: 25vh;
}

.favoriteDesktop{
    display:none;
}



@keyframes
    favoriteMobileChecked{
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.5);
        }
        100%{
            transform: scale(1);
        }
    }

@media (min-width: 280px){
    #catalogo{
        display:flex;
        flex-direction: column;
        padding: 1rem 0;
        gap: 1rem;
        width: 100%;
        min-height: 100vh;
        background-color: rgb(28, 28, 28);
    }

    #favoriteDesktop{
        display: none;
    }

    .cartasTitulo{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-left:.5rem;
        padding-top: .5rem;
    }

    .cartasTitulo h5 {
        font-size: 1rem;
    }

    .cartaDescripcion{
        font-size: .8rem;
        padding-left:.5rem;
    }

    .contenedorPrecioLogo{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 2.5rem;
        margin: 0rem 0.5rem 0.5rem;
    }

    .logoDucati{
        width: 1.8rem;
        height: 1.8rem;
    }

    .favoriteMobileUnChecked{
        display:none;
    }

    .favoriteMobileChecked{
        animation: favoriteMobileChecked .5s;
    }

    #favoriteMobile{
        fill: red;
        cursor: pointer;
    }
}