:root{
    --color-primary:  #fcf0e6;
    --color-secondary: #ff6543;
    --color-terciary: #feea28;
}


.imagen-principal{
    width: 100%;
    height: 100vh;
    background-color: red;
}

body{
background-color: black;
height: auto;
}

.eventos{
    display: flex;
}
.carta{
    width: 100%;
    height: 600px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.222);
}
.imgCarta{
    display: flex;
    padding-top:5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 80%;
}
.carta button{
    display: flex;
    background-color: var(--color-terciary);
    border: none;
}



#imgCartaContenedor1{
    background-image: url("http://drive.google.com/uc?export=view&id=1cJtjOpyAsvb_UFuXMku6D4K6Gy75GsgJ");
}
#imgCarrtaContenedor2{
    background-image: url("http://drive.google.com/uc?export=view&id=1KJH6VD0PfQrEUaHoKH-rI-6gtaFyfWeR");
}
#imgCartaContenedor3{
    background-image: url("http://drive.google.com/uc?export=view&id=1PPno_atQc9gr1IVsd4kwwRAMCfeuZz1m");
}


@media (min-width:280px){

    .eventos{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap: 1rem
    }

    .imgCarta{
        display: flex;
        width: 100%;
        height: 80%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: right center;
    }
    
    .cardButton{
        display: flex;
        justify-self: flex;
        font-size: 1.1rem;
        margin-top: 1rem;
        justify-content:center;
        padding: .7rem;
        position: relative;
        bottom: 50px;
        background: #f3f300;
        border: .15rem solid #708403a3;
    }

    .cartaTexto{
        text-align: justify;
        padding: 2rem;
        color: #fcf0e6;
    }
    .card5{
        width: 5rem;
        height: 20vh;
        justify-content:center
        var(--color-primary);
    }
    .cardEvent{
        width:100%;
        height:10rem;
       background-color: #c7c7c7;
        display: flex;
        gap: 2;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.24);
        margin: 20px;
        box-shadow: 0 15px 35px rgba(20, 20, 20, 0.5);
        border-radius: 36px 13px; 
        display: flex;
        backdrop-filter: blur(10px);
        margin-right: 1rem;
    }   
    .imgCard1{
        width: 50%;
        height: 10rem;
        background-image: url("https://i.ibb.co/fp5bL02/11-xl1200x-7.jpg");
        background-size: cover;
        border: 1px solid #fff6f4;

    }
    .imgCard2{
        width: 50%;
        height: 10rem;
        background-image: url("https://i.ibb.co/ThvyHB8/14-11-harley-davidson-sportster-forty-eight-iron-2016-acc-1000x640.jpg");
        background-size: cover;
        border: .15rem solid #ffffffa3;
    }
    .imgCard3{
        width: 50%;
        height: 10rem;
        background-image: url("https://i.ibb.co/fp5bL02/11-xl1200x-7.jpg");
        background-size: cover;
        border: 1px solid #fff6f4;
        border-radius: 8px;
    }
    .cardTitle{
        width: 40%;
        height: 40%;
        font-weight: 600;
        align-items: flex-end;
        color: #fcf0e6e8;
    }
}