:root {
    /* text-shadow */
    --textShadow-blanco: #252620;
    --textShadow-blanco2: #686b58;

    /* Estilos extra */
    --altura-con-nav: calc(100vh - 5rem);
    --naranja: #FF522A;
    --blanco2: #FAF1EA;

    /* Paleta de colores que estamos usando */
    --neon-rojo2--: #871d26;
    --color-primary:  #fcf0e6;
    --color-secondary: #ff6543;
    --color-terciary: #feea28;
    --letra-color: #995c39;
}

/* ============================================== HEADER Y NAVBAR ============================================== */


body{
background-color: #1d1d18;
min-height: 100vh;
}

main{
    min-height: 100vh;
}

.imgCarta{
    display: flex;
    padding-left: 1rem;
 
    width: 100%;
    height: 80%;
}

.carta button{
    display: flex;
    background-color: var(--color-terciary);
}
.icono{
    width:8rem;

    color:#c7c7c7;
    align-items:center;
}
.cardTitle{
    width: 100%;
    
    font-weight: 600;
    align-items: flex-end;
    color: #fcf0e6e8;
}

#imgCartaContenedor1{
    background-image: url("http://drive.google.com/uc?export=view&id=1cJtjOpyAsvb_UFuXMku6D4K6Gy75GsgJ");  
}
#imgCarrtaContenedor2{
    background-image: url("http://drive.google.com/uc?export=view&id=1KJH6VD0PfQrEUaHoKH-rI-6gtaFyfWeR");
}
#imgCartaContenedor3{
    background-image: url("http://drive.google.com/uc?export=view&id=1PPno_atQc9gr1IVsd4kwwRAMCfeuZz1m");
}


@media (min-width:280px){
    .video{
        margin-left: 1rem;
        height: 25vh;
        width: 90%;
        margin-top: 5rem;
    }

    .eventos{
        display:flex;
        flex-direction:column;
        align-items:center; 
    }

    .carta{
        height: 65vh;
    }

    .cardMarginTop{
        margin-top: 1rem;
    }
    .cardMarginTop{
        margin-top: 1.5rem;
    }
    .imgCarta{
        width: 100%;
        height: 60%;
        object-fit: cover;
        background-repeat: no-repeat;
    }

    .contenedorbotonEvento{
        display: flex;
        justify-content: center;
    }
    .contenedorbotonEvento1{
        margin-top: 1.2rem;
    }
    .contenedorBotonEventoIndumentaria{
        margin-top: 2.5rem;
        background-position: right center;
    }
    .cardButton{
        font-size: 1.1rem;
        margin-top: 1.5rem;
        padding: .7rem;
        background: #f3f300;
        border: .15rem solid #871d26;
    }

    .cartaTexto{
        /* text-align: justify; */
        padding: 1.5rem;
        color: #fcf0e6;
        height: 15vh;
        font-size: 1.2rem;
    }
    .colorTituloSecundario{
        color: #871d26; 
    }
    .parrafoCardEvento{
        padding-top: .5rem;
        font-size: 1rem;
    }
    .cartaEventos{
        text-align: center;
        color: white;
        padding: 1rem;
    }
    .titulo{
        color: #f3f300;
        text-align: center
    }
    .card5{
        width: 5rem;
        height: 20vh;
        justify-content:center
        var(--color-primary);
    }

    .cartaTextoAccessories{
        height: 20vh;
    }

    .contenedorCardDinamico{
        margin-top: 5rem;
    }
    .cardEvent{
        width:90%;
        height:10rem;
        display: flex;      
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.247);
        box-shadow: rgb(84, 96, 109) 0px 20px 30px -10px;
        margin: 15px;
    }   

    .imgCard1{
        width: 50%;
        height: 10rem;
        background-image: url("https://images.unsplash.com/photo-1558980664-2cd663cf8dde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        background-position: 100% 50%;
        background-size: cover;
        border: .2rem solid #871d26;
        box-shadow: rgba(179, 179, 247, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    .imgCard2{
        width: 50%;
        height: 10rem;
        background-image: url("https://images.unsplash.com/photo-1558980664-28d10ee9bb52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        background-size: cover;
        border: .2rem solid #871d26;
    }
    .imgCard3{
        width: 50%;
        height: 10rem;
        background-image: url("https://images.unsplash.com/photo-1578651659403-ae9f3da3c387?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=655&q=80");
        background-position: 50% 70%;
        background-size: cover;
        border: .2rem solid #871d26;
    }
    .cardTitle{
        width: 100%;
        height: 50%;
        color: #fcf0e6e8;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 5rem;
        padding-left: 1rem;
    }
    .card-title{
        font-size: 1.2rem;
        font-weight: 800;
        color: #871d26
    }
    .card-text{
        margin-top: .5rem;
        font-size: .8rem;
        font-weight: 500;
    }
    .contenedorTextoPlanoParrafoEventos{
        font-size: .6rem !important;
        padding-top: 2rem !important;
    }
    p{
        margin-bottom: .8rem;
    }
}

@media (min-width:380px){

    .video{
        height: 35vh !important;
    }
}

@media (min-width:750px){
    .video{
        margin-left: 2.4rem;
        height: 25vh;
        width: 90%;
        margin-top: 5rem;
    }
    .cardMarginTop, .cardMarginRentar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        width: 100%;
    }
    .carta{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        width: 60%;
    }

    .imgCarta {
        width: 60%;
    }

    .cartaTexto {
        width: 60%;
    }
    .cardButton {
        margin-bottom: 3rem;
    }

    .cardButtonAccessories{
        margin-top: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .video{
        width: 95%;
        height: 70vh;
        margin-top: 5rem ;
        margin-left: 2rem;
        margin-top: 6rem;
    }

    .carta{
        height: 110vh;
        width: 60%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    } 

    .colorTituloSecundario {
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-shadow: 2px 2px 20px #b4343d;   
    }

    .parrafoCardEvento {
        font-size: 1.5rem;
        text-shadow: .6px .6px 1px var(--blanco2);
    }

    .carta button {
        margin-top: 7rem;
    }
    .cardButton {
        font-size: 1.5rem;
        padding: .7rem;
        border: .2rem solid #871d26;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset !important;
    }
    .cardButton:hover {
        font-size: 1.8rem;
        background-color: #871d26;
        border: none;
        border-radius: .5rem;
        color: #fff;
    }

    .contenedorCardDinamico {
        width: 100%;
        height: 110vh;
        display: flex;
        justify-content: center;    
    }

    .cardEvent {
        text-align: center;
        height: 15rem;
        margin-top: 2rem;
    }

    .imgCard1, .imgCard2, .imgCard3 {
        height: 15rem;
    }
    .card-title {
        font-size: 2rem;
        text-shadow: 2px 2px 5px #ca7b83
    }
    .card-text {
        font-size: 1.2rem;
    }

    .contenedorBotonEventoIndumentaria {
        margin-top: .5rem;
    }

    .contenedorTextoPlanoParrafoEventos{
        font-size: 1.8rem !important;
        padding-top: 3rem !important;
    }

    .imgCard3{
        background-position: 50% 41%;
    }
    
    .contenedorCardDinamico>div{
        width: 60%;
    }

} 
