
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' -25,
  'opsz' 24
}


.datos{
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgb(57 57 57);
  box-shadow: inset 0 0 10rem black;
}

.carousel{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  background-color: rgb(124, 124, 124);
  box-shadow: inset 0 0 10rem rgb(08, 08, 08);
  color: white;
}

.img-contenedor{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}
.img-contenedor span{
  display: flex;
  align-items: center;
}

.img-principal-carousel{
  width: 80vw;
}

.slider-img{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-around;
}

.chevron{
  cursor: pointer;
}
.img-slider-bike{
  cursor: pointer;
}


.display-none{
  display: none !important;
}

.comprarBike{
  display: flex;
  flex-direction: column;
  min-height: 5vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.detallesComerciales{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.cantidad{
  width: 30vw;
  height: 4vh;
}
.añadirAlCarrito{
  padding: .5rem;
  border: none;
  border-radius: 50%;
}
.comprar{
  display: flex;
  gap:  1rem;
  align-items: center;
}
.cartIcon{
  position: relative;top: .12rem;
}






@media (min-width: 280px){
  .datos{
    display: flex;
    flex-direction: column;
  }

  .especificaciones{
    display: flex;
    flex-direction: column;
  }
  .especificaciones-contenido{
    display: flex;
  }
  .especificaciones-titulo{
    width: 45%;
  }
  .especificaciones-texto{
    width: 55%;
    text-align: start;
  }

  .img-principal-carousel{
    display: flex;
    height: 25vh;
    width: 80vw;
  }
  .slider-img{
    height: 11vh;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
  }
  
  .img-slider-bike{
    width: 30vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.201);
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .img-slider-bike:first-child{
    border-right: 1px solid rgba(0, 0, 0, 0.154);
    border-left: unset;
  }
  .img-slider-bike:last-child{
    border-left: 1px solid rgba(0, 0, 0, 0.154);
    border-right: unset;
  }

  .border{
    display: flex;
    align-self: center;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.105);
  }

  .img-contenedor-carousel{
    width: 30vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.201);
  }

  .img-contenedor span{
    height: 20vh;
  }
}