
:root{
    --color-primary: #171717;

    --paleta-rojo: #E63946;
    --paleta-blanco: #F1FAEE;
    --paleta-azul-claro: #A8DADC;
    --paleta-azul-medio: #457B9D;
    --paleta-azul-oscuro: #1D3557;

    /* Neon 2 */
    --neon-rojo: #f61d30;
    --neon-blanco: #f3fad4;
    --neon-azul-claro: #36edf0;
    --neon-azul-medio: #23a1ef;
    --neon-azul-oscuro: #04459f;

    /* text-shadow */
    --textShadow-blanco: #252620;
    --textShadow-blanco2: #686b58;
}

body,
#app {
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.row>* {
    padding-left: unset;
    padding-right: unset;
}

/* ============================================== HEADER Y NAVBAR ============================================== */

div .material-symbols-outlined:nth-child(2) {
    color: red;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.portadaHombre {
    width: 100%;
    min-height: 100vh;
    background-image: url(https://media.discordapp.net/attachments/985294289091321861/991083035678113792/mobile-harley-indumentaria-hombre.png?width=247&height=676);
    background-size: cover;
}

.portadaMujer {
    width: 100%;
    min-height: 100vh;
    background-image: url(https://media.discordapp.net/attachments/985294289091321861/991083035900391434/mobile-harley-indumentaria-mujer.png?width=247&height=676);
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-title img {
    width: 80%;
    filter: drop-shadow(0px 0px 10px #c9c9c9);
}

.imagen-principal{
    height: 80vh;
    background-color: lightseagreen;
    background-image: url("https://cdn.discordapp.com/attachments/985294289091321861/991083035678113792/mobile-harley-indumentaria-hombre.png");
    background-size: cover;
    background-position: center;
}

#filtro {
    height: 4rem;
    width: 100%;
    position: sticky;
    top: 5rem;
    background: linear-gradient(21deg, black, #474847);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 3;
    color: white;
}

#filtro>span {
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.cartaCatalogo {
    color: var(--color-primary);
    height: 42rem;
    width: 100%;
    text-decoration: none;
    background-color: #171718;
    background-image: url("../assets/bg-prueba2.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 8px black;
}

.cartaCatalogo:nth-child(even) {
    background-color: #5f5f5f;
    background-image: url("../assets/bg-prueba.svg");
}

.cartaCatalogo:nth-child(even) .textoCartaCatalogo .colorDescripcion {
    color: #fcf0e6;
}

.cartaCatalogo:hover{
    color:black;
    text-decoration:none;
}

.cartaCatalogo:hover{
    color:black;
    text-decoration:none;
}

.imgCartaCatalogo {
    width: 80%;
}

.imgCartaCatalogo img {
    width: 100%;
    filter: drop-shadow(0px 20px 18px #181818);
    transition: 0.2s linear;
}

.imgCartaCatalogo img:hover {
    transform: scale(1.5);
}

.textoCartaCatalogo {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 0.5rem;
    color: white;
    text-align: center;
}

.tituloDescripcion {
    font-weight: 600 !important;
    text-shadow: 0.8px 0.8px 2px var(--textShadow-blanco2);
    color: #fcf0e6;
}

.lineaVerticalProductos {
    content: "";
    width: .15rem;
    background-color: #919384a3;
    border-radius: 1rem;
}

.parradoDescripcion {
    font-weight: 500;
    text-shadow: .8px .8px 2px var(--textShadow-blanco);
}

.colorDescripcion {
    color: #FF522A;
    font-weight: 600 !important;
    text-shadow: .8px .8px 2px var(--textShadow-blanco2);
}

.cartaCatalogo:nth-child(odd) .brand-title img {
    filter: invert(1) drop-shadow(0px 0px 10px #c9c9c9);;
}
.botonReservaManejo {
    margin-top: .5rem;
    width: 80%;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    border: .15rem solid #919384a3;
    text-align: center;
    text-shadow: .8px .8px 2px var(--textShadow-blanco2);
}

.cartaPrecio {
    font-size: 1.8rem;
    font-weight: 400;
}

.contendorCompra {
    margin-top: 1.5rem;
    width: 40%;
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 0.15rem solid #919384a3;
    background: #efefef73;
    border-top-left-radius: 2rem;
    padding-bottom: 0.5rem;
    position: relative;
    align-items: center;
}

.imgDorso {
    width: 70%;
    filter: drop-shadow(0px 9px 5px #181818);
    position: absolute;
    top: -25px;
}

.botonCompra {
    margin-top: .5rem;
    width: 90%;
    height: 3vh;
    font-size: .65rem;
    font-weight: 500;
    background: #f3f300;
    border: .1rem solid #cbd3a1a3;
    text-align: center;
    text-shadow: .4px .4px 1px var(--textShadow-blanco2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
}

.add-btn {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background: #f3f300;
    border: 1px solid #adad02;
    display: flex;
    align-items: center;
}

.add-btn i{
    font-size: 1rem;
}

#filtro {
    height: 4rem;
    width: 100%;
    position: sticky;
    top: 5rem;
    background: linear-gradient(21deg, black, #474847);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 3;
    color: white;
    cursor: pointer;
}

#filtro > span {
    font-size: 1.5rem;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.box-de-filtro {
    position: absolute;
    top: 4rem;
    background: red;
    height: calc(60vh - 10rem);
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
}

.box-de-filtro div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.box-de-filtro label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.fondoCartaCatalogoUnFocus {
    display: none;
}

#catalogo {
    min-height: 25vh;
}

.favoriteDesktop {
    display: none;
}

.modal-modificar-producto {
    width: 94vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    position: fixed;
    bottom: 10px;
    left: 9px;
    z-index: 9;
    background-color: white;
    padding: 1rem;
    padding-top: 2rem;
    gap: 1rem;
}
.modalON{
    animation: modalTransitionOn .5s;
}
.modalOFF{
    animation: modalTransitionOff .5s;
}
.modal-modificar-producto span {
    position: absolute;
    top: 8px;
    right: -1px;
}
.modal-modificar-producto button, .modificarProducto {
    height: 5vh;
    width: 30vw;
    background-color: #871d26;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 500;
}
.modificarProducto{
    background-color: #16345e;
}



.display-none {
    display: none;
}

.opacidad-modal {
    opacity: .4;
}



@keyframes favoriteMobileChecked {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes modalTransitionOn {
    0%{
        transform: translateX(-280px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes modalTransitionOff {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-280px);
    }
}


@media (min-width: 280px) {
    #catalogo {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        gap: 1rem;
        width: 100%;
        min-height: 100vh;
        background-color: rgb(28, 28, 28);
    }

    #favoriteDesktop {
        display: none;
    }

    .cartasTitulo {
        display: flex;
        justify-content: space-between;
        padding-left: .5rem;
        padding-top: .5rem;
    }

    .cartaDescripcion {
        font-size: .8rem;
        padding-left: .5rem;
    }


    .material-symbols-outlined {
        margin-right: .5rem;
    }

    .contenedorPrecioLogo {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 2.5rem;
        margin: 0rem 0.5rem 0.5rem;
    }

    .logoDucati {
        width: 1.8rem;
        height: 1.8rem;
    }

    .favoriteMobileUnChecked {
        display: none;
    }

    .favoriteMobileChecked {
        animation: favoriteMobileChecked .5s;
    }

    #favoriteMobile{
        fill: red;
        cursor: pointer;
    }
}

@media (min-width: 425px) {
    #catalogo {
        align-items: center;
    }

    .cartaCatalogo {
        width: 90%;
    }

    .imgDorso {
        width: 6rem;
        height: 5rem;
        top: -35px;
    }

    .imgCartaCatalogo {
        width: 60%;
    }
}

@media (min-width: 600px) {
    .cartaCatalogo {
        width: 30rem;
    }
}

@media (min-width: 1024px) {
    #catalogo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .cartaCatalogo {
        width: 25rem;
    }

    .imagen-principal {
        background-image: url("https://cdn.discordapp.com/attachments/985294289091321861/991043740204417024/indumentaria-hombre-harley.png");
    }

    .cartaCatalogo {
        font-size: 1.2rem;
    }
}

@media (min-width: 1600px) {

}