.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' -25,
    'opsz' 20
}



@keyframes animate {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }

  10% {
    background-position: 5px 0;
    filter: hue-rotate(194.4deg);
  }

  20% {
    background-position: -5px 0;
    filter: hue-rotate(194.4deg);
  }

  30% {
    background-position: 5px 0;
    filter: hue-rotate(205.2deg) brightness(62.5%);
  }

  40% {
    background-position: 5px 0;
    filter: hue-rotate(118.8deg);
  }

  50% {
    background-position: -5px 0;
    filter: hue-rotate(169.2deg);
  }

  60% {
    background-position: -10px 0;
    filter: hue-rotate(309.6deg);
  }

  70% {
    background-position: 0 -10px;
    filter: hue-rotate(295.2deg);
  }

  80% {
    background-position: -10px -5px;
    filter: hue-rotate(43.2deg);
  }

  81% {
    background-position: 0 0;
    filter: hue-rotate(360deg);
  }

  100% {
    background-position: 0 0;
    filter: saturate(0) hue-rotate(0deg);
  }
}

main {
  min-height: 100vh;
  background-color: black;
  font-size: 1.3rem;
}

.datos {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: rgb(57 57 57);
  box-shadow: inset 0 0 10rem black;
}

.carousel {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  background-color: rgb(124, 124, 124);
  box-shadow: inset 0 0 10rem rgb(08, 08, 08);
  color: white;
}

.img-contenedor {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 30vh;
  margin-top: 2rem;
}

.img-contenedor span {
  display: flex;
  align-items: center;
}

.img-principal-carousel {
  width: 80vw;
}

.slider-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.chevron {
  cursor: pointer;
}

.img-slider-bike {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.display-none {
  display: none !important;
}

.comprarBike {
  display: flex;
  flex-direction: column;
  min-height: 5vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.detallesComerciales {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.cantidad {
  width: 30vw;
  height: 4vh;
}

.añadirAlCarrito {
  width: 95%;
  height: 3rem;
  background-color: #871d26;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 1rem;
}

.comprar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.comprar div{
  display: flex;
  align-items: center;
}

.plus-remove-cart,
.comprar button,
.comprar input {
  border: none;
  color: white;
}
#remove {
  border-radius: 5px 0 0 5px;
  background-color: rgb(202, 109, 109);
}
#plus {
  border-radius: 0 5px 5px 0;
  background-color: rgb(119, 199, 119);
}
.comprar input {
  color: black;
  text-align: center;
}

.cartIcon {
  position: relative;
  top: 4px;
}

.especificaciones-principales {
  color: white;
  padding: 1rem;
}

.especificaciones h3 {
  margin-bottom: 2rem;
}

.separador {
  border: 1px solid rgba(255, 255, 255, 0.106);
  margin: 3rem 0;
}

.plus-remove-cart {
  display: flex;
  justify-content: center;
}





@media (min-width: 280px) {
  .datos {
    display: flex;
    flex-direction: column;
  }

  .especificaciones {
    display: flex;
    flex-direction: column;
  }

  .especificaciones-contenido {
    display: flex;
  }

  .glitch-logo {
    width: 20.5rem;
    height: 15rem;
  }
}

@media (min-width: 420px){
  .img-principal-carousel{
    width: 335.19;
    height: 302.69px;
  }
}

@media (min-width: 500px){
  .img-principal-carousel{
    width: 393px;
    height: 360px;
  }
}

@media (min-width: 650px){
}

@media (min-width: 820px){
  .añadirAlCarrito{
    width: 500px;
    margin: 0;
  }
  .comprar{
    gap: 5rem;
  }

  #remove {
    width: 40px;
    height: 37px;
  }
  #plus {
    width: 40px;
    height: 37px;
  }
  .comprar input {
    color: black;
    text-align: center;
    width: 120px;
    font-size: 24px;
  }

  .especificaciones{
    flex-wrap: wrap;
  }
  .especificaciones div{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .especificaciones>div div{
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .neon {
    display: none !important;
  }

  .especificaciones-titulo {
    width: 45%;
  }

  .especificaciones-texto {
    width: 55%;
    text-align: start;
  }

  .slider-img {
    height: 11vh;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
  }

  .border {
    display: flex;
    align-self: center;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.105);
  }

  .img-contenedor-carousel {
    width: 30vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.201);
  }

}