/* ACA VAN A IR LOS ESTILOS QUE PERSISTAN POR TODA LA APP (POR EJEMPLO EL NAVBAR Y EL FOOTER) */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* NORMALIZADOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* ACA VAMOS A DECLARAR LAS VARIABLES CONSTANTES (PALETA DE COLORES/TAMAÑOS/ETC) */
:root {
    /* PALETA 1 */
    --paleta-rojo: #E63946;
    --paleta-blanco: #F1FAEE;
    --paleta-azul-claro: #A8DADC;
    --paleta-azul-medio: #457B9D;
    --paleta-azul-oscuro: #1D3557;

    /* Neon 2 */
    --neon-rojo: #ec4141;
    --neon-blanco: #f3fad4;
    --neon-azul-claro: #36edf0;
    --neon-azul-medio: #23a1ef;
    --neon-azul-oscuro: #04459f;

    /* text-shadow */
    --textShadow-blanco: #252620;
    --textShadow-blanco2: #686b58;

    /* Estilos extra */
    --altura-con-nav: calc(100vh - 5rem);

    --naranja: #FF522A;
    --blanco2: #FAF1EA;
    --neon-rojo2--: #f61d30;
}

body, #app {
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.row>* {
    padding-left: unset;
    padding-right: unset;
}

/* ============================================== HEADER Y NAVBAR ============================================== */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    height: 5rem;
    position: fixed;
    top: 0;
    opacity: 0.2;
    transition: 0.3s linear;
    z-index: 10;
}

header img {
    height: 4rem;
    width: 6rem;
    padding-left: 1rem;
}

.nav-menu-btn {
    color: #fff;
    padding-right: 1rem;
    cursor: pointer;
}

header:hover, .header-activo {
    opacity: 1;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    position: absolute;
    height: var(--altura-con-nav);
    top: 5rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: unset;
}

.navbar .nav-elemento {
    width: 5.5rem;
    height: 2rem;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: white;
    box-shadow: 0px 0px 15rem 6rem rgb(0 0 0 / 75%) inset;
    transition: 0.5s linear;
    background-size: cover;
    animation: nav 0.4s;
    cursor: pointer;
}

.navbar .nav-elemento:nth-child(1) {
    background-image: url(https://images.unsplash.com/photo-1558981359-219d6364c9c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center center;
}

.navbar .nav-elemento:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1532168618182-33084e9ef980?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-position: top center;
}

.navbar .nav-elemento:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1558980663-3685c1d673c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: top center;
}

.navbar .nav-elemento:nth-child(4) {
    background-image: url(https://images.unsplash.com/photo-1621758321782-74d156140313?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center center;
}

.navbar .nav-elemento:hover {
    box-shadow: 0px 0px 15rem 6rem rgb(0 0 0 / 30%) inset;
}

.nav-motos, .nav-hombre, .nav-mujer, .nav-experiencia {
    display:flex;
    flex-direction:column;
    position: absolute;
    top: 5rem;
    left: 0;
    min-height: var(--altura-con-nav);
    width: 100%;
    background-color: #fff;
    display: flex;
    animation: nav 0.4s;
}

.boton-cerrar-nav {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Keyframes del header */
@keyframes nav {
    0% {transform: translateX(-100%) }
    100% {transform: translateX(0%)}
}



/* ============================================== FOOTER ============================================== */
footer{
    width: 100%;
    height: 65vh;
    background-color: #FAF1EA; 
}

.contenedorSuscripcionGeneral{
    background-color: black;
    width: 100%;
    /* height: 35vh; */
    display: flex;
    justify-content: center !important;
}

.contenedorSuscripcion{
    width: 90%;
    height: 25vh;
}

.tituloSuscribe{
    font-size: 1rem;
    color: var(--paleta-blanco);
    text-shadow: 1px 1px 10px #f3fad4;
    padding-left: 1.4rem;
}

.parrafoSuscribcion{
    font-size: .7rem;
    font-weight: 500;  
}

.contenedorGeneralBoton{
    display: inline-block;
}

.contenedorTexto{
    padding-top: 1.25rem;
}

.contenedorParrafo{
    padding: .5rem 1.5rem 0rem ;
    min-height: 10vh;
    color: var(--paleta-blanco);
    text-shadow: .6px .6px 1px var(--textShadow-blanco);
}

.contenedorGeneralBoton{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.inputFooter{
    font-size: .55rem;
    border: none;
    width: 45%;
    font-size: .6rem;
    font-weight: 500;
    border: .15rem solid #919384a3;
    padding-left: .2rem;
    text-shadow: .6px .6px 1px var(--textShadow-blanco2);
    background-color:  var(--paleta-blanco);
}

.botonSuscripcion{
    font-size: .7rem;
    width: 35%;
    height: 3vh;
    font-weight: 500;
    background: #f3f300;
    border: .1rem solid #cbd3a1a3;
    text-align: center;
    text-shadow: .6px .6px 1px var(--textShadow-blanco2);
}

/* Contenedor Logo/Footer */
.contenedorLogoFooter{
    background-color: black;
    height: 28vh;
}

.contenedorImgLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 9rem;
}

.ImgLogo{
    width: 12rem;
    height: 8rem;
}

.contenedorRedesSocialesFooter{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}

.iconos{
    font-size: 2rem;
    color: var(--paleta-blanco);
}

.iconos {
    display: inline-block;
    animation: float 5s ease-in-out infinite;
}

.fa-facebook-f {
    animation-delay: 1s;
}

.fa-twitter {
    animation-delay: 2s;
}

.fa-pinterest-p {
    animation-delay: 3s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.iconos:hover{
    animation: first_color .5s 
    ease-in-out infinite alternate;
}

.iconos:hover:nth-child(2){
    animation-name: second_color;
}

.iconos:hover:nth-child(3){
    animation-name: third_color;
}

.iconos:hover:nth-child(4){
    animation-name: ford_color;
}

@keyframes first_color {
    0%{
        text-shadow: 0 0 10px #ff1177,
        0 0 20px #d6249f, 0 0 30px #285AEB
    }
    100%{
        text-shadow: 0 0 5px #ff1177,
        0 0 10px #d6249f, 0 0 15px #285AEB
    }
}

@keyframes second_color{
    0%{
        text-shadow: 0 0 10px #2525d5,
        0 0 20px #1616c0, 0 0 30px #3939ff
    }
    100%{
        text-shadow: 0 0 5px #2525d5,
        0 0 10px #1616c0, 0 0 15px #3939ff
    } 
}

@keyframes third_color{
    0%{
        text-shadow: 0 0 10px #1f79ef,
        0 0 20px #175cb6, 0 0 30px #1e9cfc
    }
    100%{
        text-shadow: 0 0 5px #1f79ef,
        0 0 10px #175cb6, 0 0 15px #1e9cfc
    } 
}

@keyframes ford_color{
    0%{
        text-shadow: 0 0 10px var(--neon-rojo),
        0 0 20px #9a2731, 0 0 30px #E63946;
    }
    100%{
        text-shadow: 0 0 5px var(--neon-rojo),
        0 0 10px #9a2731, 0 0 15px #E63946
    }
}

/* Contenedor Texto Plano/Footer */
.contenedorTextoPlanoFooter{
    display: flex;
    justify-content: space-around;
    padding-top: .8rem;
}

.TextoPlanoFooter{
    font-size: .7rem;
    color: rgba(0, 0, 0, 0.186);
    text-shadow: .4px .4px 1px var(--textShadow-blanco);
}

.contenedorTextoPlanoParrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1vh;
    padding-top: .7rem;
    font-size: .5rem;
    color: rgba(0, 0, 0, 0.012);
    text-shadow: .2px .2px .6px var(--textShadow-blanco2);
}


@media screen and (min-width: 1024px) {
    header .navbar {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: unset;
        align-items: center;
        width: 50%;
        padding: 0 0.5rem;
        height: 100%;
        gap: 10px;
    }

    .navbar .nav-elemento {
        height: 65%;
        width: 100%;
        font-size: 1.2rem;
        border-radius: 20px;
    }

    .navbar .nav-elemento:hover{
        border-radius: 10px;
    }

    .nav-menu-btn {
        display: none;
    }

    .nav-motos, .nav-hombre, .nav-mujer, .nav-experiencia {
        position: absolute;
        top: 5rem;
        left: 0;
        min-height: 15rem;
        width: 100%;
        background-color: #fff;
        display: flex;
        animation: nav 0.4s;
    }

    @keyframes nav {
        0% {transform: translateY(-100%) }
        100% {transform: translateY(0%)}
    }
}

@media screen and (min-width: 1280px){

    footer{
        height: 50vh;
    }
    .contenedorSuscripcionGeneral{
        height: 35vh;
    }
    .contenedorSuscripcion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 35vh;
    }

    .tituloSuscribe {
        font-size: 1.8rem;
        text-shadow: 2px 2px 15px #f3fad4;
    }

    .parrafoSuscribcion {
        font-size: 1rem;
        width: 48%;
        text-shadow: 1px 1px 3px var(--textShadow-blanco);
    }

    .contenedorGeneralBoton{
        justify-content: space-between;
        width: 45.4%;
        margin-top: 1.5rem;
        margin-left: 1.5rem;
    }

    .botonSuscripcion {
        height: 2.5rem;
        font-size: 1rem;
    }

    .inputFooter {
        width: 70%;
        font-size: .9rem;
        padding-left: .3rem;
    }

    .contenedorTamañoEscritorio{
        display: flex;
        width: 100%;
    }

    .contenedorLogoFooter{
        width: 35.5%;
        height: 28vh;
    }

    .contenedorContenidoFooter{
        width: 100%;
        background-color: var(--paleta-blanco);
    }

    .contenedorRedesSocialesFooter {
        margin-top: 1rem;
    }

    .ImgLogo {
        width: 12rem;
    }

    .TextoPlanoFooter {
        font-size: 1rem;
        text-shadow: 1px 1px 2px var(--textShadow-blanco);
    }

    .contenedorTextoPlanoParrafo {
        height: 23vh;
        padding-top: 1.7rem;
    }

    .textoPlanoFooter {
        font-size: .8rem;
        text-shadow: .1px .1px 2px var(--textShadow-blanco);
    }
}

/* no mover de abajo de todo, es para que pise otras clases */
.oculto {
    display: none !important;
}