/* ACA VAN A IR LOS ESTILOS QUE PERSISTAN POR TODA LA APP (POR EJEMPLO EL NAVBAR Y EL FOOTER) */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* NORMALIZADOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* ACA VAMOS A DECLARAR LAS VARIABLES CONSTANTES (PALETA DE COLORES/TAMAÑOS/ETC) */
:root {
    /* Paleta de colores que estamos usando */
    --neon-rojo2--: #871d26;
    --color-primary:  #fcf0e6;
    --color-secondary: #ff6543;
    --color-terciary: #feea28;
    --letra-color: #995c39;
}

body,
#app {
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.row>* {
    padding-left: unset;
    padding-right: unset;
}

/* ============================================== HEADER Y NAVBAR ============================================== */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    height: 5rem;
    position: fixed;
    top: 0;
    opacity: 0.2;
    transition: 0.3s linear;
    z-index: 10;
}

header img {
    height: 4rem;
    width: 6rem;
    padding-left: 1rem;
}

.nav-menu-btn {
    color: #fff;
    padding-right: 1rem;
    cursor: pointer;
    position: relative;
}

.nav-menu-btn i {
    position: absolute;
    font-size: 1rem;
    top: -5px;
}

header:hover,
.header-activo {
    opacity: 1;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    position: absolute;
    height: var(--altura-con-nav);
    top: 5rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: unset;
}

.navbar .nav-elemento {
    width: 5.5rem;
    height: 2rem;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: white;
    box-shadow: 0px 0px 15rem 6rem rgb(0 0 0 / 75%) inset;
    transition: 0.5s linear;
    background-size: cover;
    animation: nav 0.4s;
    cursor: pointer;
    position: relative;
}

.navbar .nav-elemento:nth-child(1) {
    background-image: url(https://images.unsplash.com/photo-1558981359-219d6364c9c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center center;
}

.navbar .nav-elemento:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1532168618182-33084e9ef980?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-position: top center;
}

.navbar .nav-elemento:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1558980663-3685c1d673c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: top center;
}

.navbar .nav-elemento:nth-child(4) {
    background-image: url(https://images.unsplash.com/photo-1621758321782-74d156140313?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center center;
}

.navbar .nav-elemento:nth-child(5) {
    background-image: url(https://images.unsplash.com/photo-1499324803384-8dd2eacc327f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-position: center center;
}

.navbar .nav-elemento:hover {
    box-shadow: 0px 0px 15rem 6rem rgb(0 0 0 / 30%) inset;
}

.nav-elemento>span {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav-motos,
.nav-hombre,
.nav-mujer,
.nav-experiencia,
.nav-contact {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    min-height: inherit;
    width: 100%;
    background: #101012;
    display: flex;
    animation: nav 0.4s;
    flex: 1;
    height: 100%;
}

.nav-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    flex: 2;
}

.nav-selection a {
    color: white;
}

.boton-cerrar-nav {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0;
    position: absolute;
    top: 0px;
    right: 5px;
}


.carrito {
    position: absolute;
    top: 5rem;
    height: calc(100vh - 10rem);
    /* background-color: #871d26; */
    width: 100%;
    overflow: auto;
    animation: nav 0.4s;
    /* background: rgb(44, 40, 40); */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-primary);
    text-decoration: none;
    background-color: #171718;
    background-image: url("../assets/bg-prueba2.svg");
    background-size: cover;
    box-shadow: 5px 5px 8px black;
    height: 100vh;
    color: #f3fad4;
    box-shadow: rgb(84, 96, 109) -10px 15px 30px -10px;
}

.contenedorTituloProductos{
    height: 6vh;
    display: flex;
}
.tituloProducto{
    font-size: 1.6rem;
    color: #871d26;
    padding: 1.2rem;
    font-weight: 600;
    text-shadow: 1px 1px 6px #871d26;
}
.contenedorLinea{
    content: "";
    width: 90%;
    height: .1rem;
    background-color: #871d262d;
    border-radius: 1rem;
}
.carrito-box {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #5c5c5c52;
    min-height: 7rem;
    gap: 1rem;
}

.carrito-box img {
    padding: unset;
}

.totalYPago {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.3rem;
    color: #871d26;
    font-weight: 600;
    font-size: 1.2rem;
}

.contenedorLinea{
content: "";
width: 90%;
height: .1rem;
color: #871d26;
}

.totalYPago a {
    width: 40%;
    height: 7rem;
    border: unset;
    background: #dbdb00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: .2rem solid #871d26;
    color: #871d26;
    font-weight: 600;
    margin-bottom: 1rem;
}
.totalYPago a:hover{
    background: #871d26;
    border-radius: .5rem;
    color: #f3fad4;
    font-weight: 600;
}

.bike-loader {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: 11;
}

.centerBike {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 26px;
    margin-left: -12px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

#loop {
    height: 108px;
    width: 110px;
    border: #bb5f27 solid 4px;
    border-radius: 200px;
}

#loop:before {
    background: linear-gradient(to left, rgba(187, 95, 39, 0) 0%, rgba(187, 95, 39, 1) 30%, rgba(187, 95, 39, 1) 70%, rgba(187, 95, 39, 0) 100%);
    content: "";
    display: block;
    height: 4px;
    left: -100px;
    position: relative;
    top: 100px;
    width: 300px;
}

#bike-wrapper {
    height: 108px;
    width: 108px;
    animation: drive 2s linear infinite;
}

#bike {
    height: 24px;
    width: 25px;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/133687/motorbike.png");
}

@keyframes drive {
    0% {
        margin-left: -364px;
        opacity: 0;
    }

    33.33% {
        transform: rotate(0deg);
        margin-left: -50px;
        opacity: 1;
    }

    66.66% {
        transform: rotate(-360deg);
        margin-left: -50px;
        opacity: 1;
    }

    100% {
        margin-left: 264px;
        transform: rotate(-360deg);
        opacity: 0;
    }
}


/* Keyframes del header */
@keyframes nav {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0%)
    }
}



/* ============================================== FOOTER ============================================== */
footer {
    width: 100%;
    height: 72vh;
    background-color: var(--paleta-blanco);
}

.contenedorSuscripcionGeneral {
    background-color: black;
    width: 100%;
    /* height: 35vh; */
    display: flex;
    justify-content: center !important;
}

.contenedorSuscripcion {
    width: 90%;
    height: 25vh;
}

.tituloSuscribe {
    font-size: 1rem;
    color: var(--paleta-blanco);
    text-shadow: 1px 1px 10px #f3fad4;
    padding-left: 1.4rem;
}

.parrafoSuscribcion {
    font-size: .7rem;
    font-weight: 500;
}

.contenedorGeneralBoton {
    display: inline-block;
}

.contenedorTexto {
    padding-top: 1.25rem;
}

.contenedorParrafo {
    padding: .5rem 1.5rem 0rem;
    min-height: 10vh;
    color: var(--paleta-blanco);
    text-shadow: .6px .6px 1px var(--textShadow-blanco);
}

.contenedorGeneralBoton {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.inputFooter {
    font-size: .55rem;
    border: none;
    width: 45%;
    font-size: .6rem;
    font-weight: 500;
    border: .15rem solid #919384a3;
    padding-left: .2rem;
    text-shadow: .6px .6px 1px var(--textShadow-blanco2);
    background-color: var(--paleta-blanco);
}

.botonSuscripcion {
    font-size: .7rem;
    width: 35%;
    height: 3vh;
    font-weight: 500;
    background: #feea28;
    border: .15rem solid #995c39;
    text-align: center;
    text-shadow: .6px .6px 1px var(--textShadow-blanco2);
}

.botonSuscripcion:hover {
    font-size: 1rem;
    background-color: #871d26;
    border: none;
    border-radius: .5rem;
    color: #995c39;
}

/* Contenedor Logo/Footer */
.contenedorLogoFooter {
    background-color: black;
    height: 28vh;
}

.contenedorImgLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 9rem;
}

.ImgLogo {
    width: 12rem;
    height: 8rem;
}

.contenedorRedesSocialesFooter {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}

.iconos {
    font-size: 2rem;
    color: var(--neon-blanco);
}

.iconos {
    display: inline-block;
    animation: float 5s ease-in-out infinite;
}

.fa-facebook-f {
    animation-delay: 1s;
}

.fa-twitter {
    animation-delay: 2s;
}

.fa-pinterest-p {
    animation-delay: 3s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.iconos:hover {
    animation: first_color .5s ease-in-out infinite alternate;
}

.iconos:hover:nth-child(2) {
    animation-name: second_color;
}

.iconos:hover:nth-child(3) {
    animation-name: third_color;
}

.iconos:hover:nth-child(4) {
    animation-name: ford_color;
}

@keyframes first_color {
    0% {
        text-shadow: 0 0 10px #ff1177,
            0 0 20px #d6249f, 0 0 30px #285AEB
    }

    100% {
        text-shadow: 0 0 5px #ff1177,
            0 0 10px #d6249f, 0 0 15px #285AEB
    }
}

@keyframes second_color {
    0% {
        text-shadow: 0 0 10px #2525d5,
            0 0 20px #1616c0, 0 0 30px #3939ff
    }

    100% {
        text-shadow: 0 0 5px #2525d5,
            0 0 10px #1616c0, 0 0 15px #3939ff
    }
}

@keyframes third_color {
    0% {
        text-shadow: 0 0 10px #1f79ef,
            0 0 20px #175cb6, 0 0 30px #1e9cfc
    }

    100% {
        text-shadow: 0 0 5px #1f79ef,
            0 0 10px #175cb6, 0 0 15px #1e9cfc
    }
}

@keyframes ford_color {
    0% {
        text-shadow: 0 0 10px var(--neon-rojo),
            0 0 20px #9a2731, 0 0 30px #E63946;
    }

    100% {
        text-shadow: 0 0 5px var(--neon-rojo),
            0 0 10px #9a2731, 0 0 15px #E63946
    }
}

/* Contenedor Texto Plano/Footer */
.contenedorTextoPlanoFooter {
    display: flex;
    justify-content: space-around;
    padding-top: .8rem;
}

.TextoPlanoFooter {
    font-size: .7rem;
    color: #995c39;
    text-shadow: .4px .4px 1px var(--textShadow-blanco);
}

.contenedorTextoPlanoParrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1vh;
    padding-top: .8rem;
    font-size: .55rem;
    color: rgba(27, 26, 26, 0.253);
    text-shadow: .2px .2px .6px var(--textShadow-blanco2);
    font-weight: 400;
}


@media screen and (min-width: 1024px) {
    header .navbar {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: unset;
        align-items: center;
        width: 50%;
        padding: 0 0.5rem;
        height: 100%;
        gap: 10px;
    }

    .carrito {
        width: 33%;
        right: 0;
    }

    .totalYPago {
        width: 33%;
    }

    .navbar .nav-elemento {
        height: 3rem;
        width: 100%;
        font-size: 1.2rem;
        border-radius: 20px;
    }

    .navbar .nav-elemento:hover {
        border-radius: 10px;
    }

    .nav-menu-btn {
        display: none;
    }

    .nav-menu-btn:first-child {
        display: unset;
    }

    .nav-motos,
    .nav-hombre,
    .nav-mujer,
    .nav-experiencia,
    .nav-contact {
        position: absolute;
        top: 3rem;
        left: 0;
        min-height: 15rem;
        width: 100%;
        background: #101012;
        display: flex;
        animation: nav 0.4s;
        border: 2px solid white;
        border-radius: 0 0 10px 10px;
    }

    @keyframes nav {
        0% {
            transform: scale(0.5);
            transform-origin: 50% 0%;
        }

        100% {
            transform: scale(1);
            transform-origin: 50% 0%;
        }
    }
}

@media screen and (min-width: 1280px) {

    footer {
        height: 50vh;
    }

    .contenedorSuscripcionGeneral {
        height: 35vh;
    }

    .contenedorSuscripcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 35vh;
    }

    .tituloSuscribe {
        font-size: 1.8rem;
        text-shadow: 2px 2px 15px #f3fad4;
    }

    .parrafoSuscribcion {
        font-size: 1rem;
        width: 48%;
        text-shadow: 1px 1px 3px var(--textShadow-blanco);
    }

    .contenedorGeneralBoton {
        justify-content: space-between;
        width: 45.4%;
        margin-top: 1.5rem;
        margin-left: 1.5rem;
    }

    .botonSuscripcion {
        height: 2.5rem;
        font-size: 1rem;
    }

    .inputFooter {
        width: 70%;
        font-size: .9rem;
        padding-left: .3rem;
    }

    .contenedorTamañoEscritorio {
        display: flex;
        width: 100%;
    }

    .contenedorLogoFooter {
        width: 35.5%;
        height: 31vh;
    }

    .contenedorContenidoFooter {
        width: 100%;
        background-color: var(--paleta-blanco);
    }

    .contenedorRedesSocialesFooter {
        margin-top: 1rem;
    }

    .ImgLogo {
        width: 12rem;
    }

    .TextoPlanoFooter {
        font-size: 1.2rem;
        text-shadow: .6px .6px 1.5px var(--textShadow-blanco);
    }

    .contenedorTextoPlanoParrafo {
        height: 23vh;
        padding-top: 1rem;
    }

    .textoPlanoFooter {
        font-size: 1rem;
        text-shadow: .1px .1px 2px var(--textShadow-blanco);
    }

    .contenedorTextoPlanoFooter {
        padding-top: 1.8rem;
    }
}

/* no mover de abajo de todo, es para que pise otras clases */
.oculto {
    display: none !important;
}