/* ACA VAN A IR LOS ESTILOS QUE PERSISTAN POR TODA LA APP (POR EJEMPLO EL NAVBAR Y EL FOOTER) */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* NORMALIZADOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* ACA VAMOS A DECLARAR LAS VARIABLES CONSTANTES (PALETA DE COLORES/TAMAÑOS/ETC) */
:root {
    /* PALETA 1 */
    --paleta-rojo: #E63946;
    --paleta-blanco: #F1FAEE;
    --paleta-azul-claro: #A8DADC;
    --paleta-azul-medio: #457B9D;
    --paleta-azul-oscuro: #1D3557;

    /* Neon 2 */
    --neon-rojo: #f61d30;
    --neon-blanco: #f3fad4;
    --neon-azul-claro: #36edf0;
    --neon-azul-medio: #23a1ef;
    --neon-azul-oscuro: #04459f;

    /* text-shadow */
    --textShadow-blanco: #252620;

    /* Estilos extra */
    --altura-con-nav: calc(100vh - 5rem)
}

body, #app {
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.row>* {
    padding-left: unset;
    padding-right: unset;
}

/* ============================================== HEADER Y NAVBAR ============================================== */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    height: 5rem;
    position: fixed;
    top: 0;
    opacity: 0.2;
}

header img {
    height: 4rem;
    width: 6rem;
    padding-left: 1rem;
}

.nav-menu-btn {
    color: #fff;
    padding-right: 1rem;
    cursor: pointer;
}

header:hover, .header-activo {
    opacity: 1;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    position: absolute;
    height: var(--altura-con-nav);
    top: 5rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: unset;
}

.navbar .nav-elemento {
    width: 5.5rem;
    height: 2rem;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: white;
    box-shadow: 0px 0px 15rem 6rem rgb(0 0 0 / 75%) inset;
    transition: 0.5s linear;
    background-size: cover;
}

.navbar .nav-elemento:nth-child(1) {
    background-image: url(https://images.unsplash.com/photo-1558981359-219d6364c9c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center center;
}

.navbar .nav-elemento:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1532168618182-33084e9ef980?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-position: top center;
}

.navbar .nav-elemento:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1558980663-3685c1d673c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: top center;
}

.navbar .nav-elemento:nth-child(4) {
    background-image: url(https://images.unsplash.com/photo-1621758321782-74d156140313?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center center;
}

.navbar .nav-elemento:hover {
    box-shadow: 0px 0px 15rem 6rem rgb(0 0 0 / 30%) inset;
}

.nav-motos, .nav-hombre, .nav-mujer, .nav-experiencia {
    position: absolute;
    top: 5rem;
    left: 0;
    min-height: var(--altura-con-nav);
    width: 100%;
    background-color: #fff;
    display: flex;
}

.boton-cerrar-nav {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.imgMoto1, .imgMoto2{
    width: 100%;
    height: 50vh;
    background: url("https://cdn.discordapp.com/attachments/985294289091321861/989259122472022087/unknown.png");
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 15rem 6rem rgb(0 0 0 / 75%) inset;
    transition: 0.5s linear;
}

.imgMoto2 span {
    width: 10rem;
}

.imgMoto2{
    background-image: url("https://s1.cdn.autoevolution.com/images/news/harley-davidson-black-joe-looks-invisible-in-the-dark-growl-should-scare-the-curious-away-178149_1.jpg");
}

.imgMoto1:hover, .imgMoto2:hover {
    color: white;
    box-shadow: 0px 0px 15rem 6rem rgb(0 0 0 / 35%) inset;
}



/* ============================================== FOOTER ============================================== */
footer{
    width: 100%;
    height: 80vh;
    background-color: var(--paleta-blanco); 
}

.contenedorSuscripcionGeneral{
    background-color: black;
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorSuscripcion{
    width: 90%;
    height: 25vh;
    display: flex;
    flex-direction: column;
}

.tituloSuscribe{
    font-size: 1rem;
}

.parrafoSuscribcion{
    font-size: .7rem;
}

.contenedorGeneralBoton{
    display: inline-block;
}

.contenedorTexto{
    text-align: center;
    padding-top: 1.25rem;   
}

.contenedorParrafo{
    padding: .5rem 1.5rem 0rem ;
    height: 10vh;
}

.contenedorGeneralBoton{
    display: flex;
    justify-content: center;
}

.inputFooter{
    font-size: .55rem;
}

.botonSuscripcion{
    font-size: .8rem;
    margin-left: .6rem;
    padding: .3rem;
    border: none;
    border-radius: 5px;
    background-color: var(--paleta-rojo);
    text-shadow: 1px 1px 2px var(--textShadow-blanco);
}

/* Contenedor Logo/Footer */
.contenedorLogoFooter{
    background-color: black;
    height: 25vh;
}

.contenedorImgLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 9rem;
}

.ImgLogo{
    width: 12rem;
    height: 8rem;
}

.contenedorRedesSocialesFooter{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}

.iconos{
    font-size: 2rem;
}

.iconos {
    display: inline-block;
    animation: float 5s ease-in-out infinite;
}

.fa-facebook-f {
    animation-delay: 1s;
}

.fa-twitter {
    animation-delay: 2s;
}

.fa-pinterest-p {
    animation-delay: 3s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Contenedor Texto Plano/Footer */
.contenedorTextoPlanoFooter{
    display: flex;
    justify-content: space-around;
}

.TextoPlanoFooter{
    font-size: .7rem;
    padding-top: .8rem;
    color: rgba(0, 0, 0, 0.582);
}

.contenedorTextoPlanoParrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
    padding-top: .7rem;
}

.textoPlanoFooter{
    font-size: .5rem;
    color: rgba(0, 0, 0, 0.646);
}

/* no mover de abajo de todo, es para que pise otras clases */
.oculto {
    display: none !important;
}

