:root {
    /* PALETA 1 */
    --paleta-rojo: #E63946;
    --paleta-blanco: #F1FAEE;
    --paleta-blanco2: #d0d0d0;
    --paleta-azul-claro: #A8DADC;
    --paleta-azul-medio: #457B9D;
    --paleta-azul-oscuro: #1D3557;
    --color-rojo-personalizado: #871d26;
    --color-azul-personalizado: #16345e;

    /* Neon 2 */
    --neon-rojo: #f61d30;
    --neon-blanco: #f3fad4;
    --neon-azul-claro: #36edf0;
    --neon-azul-medio: #23a1ef;
    --neon-azul-oscuro: #04459f;

    /* text-shadow */
    --textShadow-blanco: #252620;
    --textShadow-blanco2: #686b58;
    --textShadow-blanco3: #4f4f4f;
    

    /* Estilos extra */

    --altura-con-nav: calc(100vh - 5rem);

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4f4f4f;
    gap: 3rem;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.contenedorIzquierdo{
    margin-top: 5rem;
}
.contenedorDerecho, .contenedorIzquierdo{
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.misFacturas,.misCompras,.misDirecciones,.cuotasAPagar,.misPreguntas, .reservas, .tarjetas, .misTarjetas{
    width: 90%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1.3px 1.3px 3px black;
    flex-grow: 1;
    min-height: 10vh;
    background-color: white;
}

.titulo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}
.titulo span{
    color: var(--color-azul-personalizado);
}

.misAddress, .tarjetas, .articulos{
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.113);
    border-radius: 5px;
    box-shadow: 1.2px 1.2px 1px var(--textShadow-blanco3);
    padding: .3rem;
    font-size: 14px;
}
.articulos{
    flex-grow: 1;
}
.misAddress div:nth-child(1) p, .misTarjetas div:nth-child(1) p{
    font-size: 14px;
    font-weight: 500;
}
.misAddress div:nth-child(1) span, .tarjetas span{

    color: var(--color-rojo-personalizado);
}
.tarjetas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address p, .tarjetas p{
    display: flex;
    gap: 10px;
    color: rgb(35, 35, 35);
}
.tarjetas{
    justify-content: center;
}

.misFacturas div:nth-child(1), .misAddress div:nth-child(1){
    display: flex;
    flex-direction: row;
}
.misFacturas div:nth-child(2), .misPreguntas div:nth-child(2), .misCompras div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.misFacturas div:nth-child(2) p, .misPreguntas div:nth-child(2) p, .misCompras div:nth-child(3) p{
    display: flex;
    height: 100%;
    font-weight: 500;
    color: rgb(118, 118, 118);
}
.misCompras div:nth-child(3) p{
    gap: 5px;
}
.misCompras{
    flex-wrap: wrap;
}

.contenedorImg{
    width: 100px;
    display: flex;
}
.contenedorImg img{
    width: 100%;
}


@media (min-width: 540px){

}

@media (min-width: 768px){
    main{
        flex-direction: row;
        gap: 0;
        padding: 0 40px;
    }
    
    .contenedorDerecho{
        width: 30%;
        min-height: 10vh;
        margin-top: 10rem;
        margin-left: 10px;
        padding-top: 0.5rem;
        gap: 1.2rem;
        justify-content: flex-start;
    }
    .contenedorIzquierdo {
        width: 66%;
        min-height: 10vh;
        margin-top: 10rem;
        gap: 1.2rem;
        row-gap: 1.2rem;
        column-gap: 1.2rem;
        justify-content: flex-start;
    }

    .misFacturas,.misCompras,.misDirecciones,.cuotasAPagar,.misPreguntas, .reservas, .tarjetas, .misTarjetas{
        width: 100%;
        margin-top: 0;
        flex-grow: 0;
    }
}

@media (min-width: 1024px){
    main{
        padding: 0 100px;
    }
}

@media (min-width: 1600px){
    main{
        padding: 0 300px;
    }
}

